:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #242424;
  overflow: hidden;
}

.leaflet-popup-content {
  margin: -2px -2px 0 -2px !important;
}

.leaflet-popup-content p {
  margin: unset !important;
}

.leaflet-popup-content a:focus {
  outline: 0;
}
