:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  color: #242424;
  overflow: hidden;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--chakra-colors-bg-panel) !important;
}

.leaflet-popup-content-wrapper {
  padding: unset !important;
  padding-top: 1px !important;
  padding-left: 1px !important;
}

.leaflet-popup-content {
  margin: -2px -2px 0 -2px !important;
}

.leaflet-popup-content p {
  margin: unset !important;
}

.leaflet-popup-content a:focus {
  outline: 0;
}

input[type="text"]::selection {
  background-color: var(--chakra-colors-blue-400);
  color: var(--chakra-colors-white);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s infinite;
  transform-origin: center;
}